@theme {
  --animate-appear: appear 0.25s ease-in-out forwards 0s;

  @keyframes appear {
    0% {
      opacity: 0;
      scale: 90%;
    }
    50% {
      opacity: 1;
      scale: 110%;
    }
    100% {
      opacity: 1;
      scale: 100%;
    }
  }
}
