@import "tailwindcss";

@plugin "daisyui" {
	themes: light --default, dark --prefersdark;
	root: ":root";
  exclude: rootcolor;
	logs: false;
}
@import "./themes/light.css";
@import "./themes/dark.css";

@import "./loading-dots.css";
@import "./cursor.css";
@import "./markdown.css";
